

header{
    padding: 20px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    
}

body{
    background-color:burlywood;
    color: #2f243a;
    font-family: "Macondo", cursive; 
    font-weight: 400;
    font-style: normal;
}

main{
    text-align:left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align:center;
    color:brown;
}
img{
    border-radius: 50%}
