html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1; /
}


body{
    background-color: #d4d9d9;
    text-align: center;
    color: #2f243a;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin:auto;
    max-width:900;
    width:95%;
}

a{
    color:#074310;
    text-decoration: none;
}
a:hover{
    color:red;
}
main{
    text-align:left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align:center;
    font-family: cursive, lucida handwriting;
}
img{
    width: 100%;
}
figure{
    text-align: center;
    font-style: italic;
}
footer{
    background-color:#861533 ;
    font-family: "UnifrakturCook", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align:center;
}
.websites{
    background-color:black;
    padding:10px;
}