body{
    background-color: #d4d9d9;
    text-align: center;
    color: #2f243a;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

a{
    color:#074310;
    text-decoration: none;
}
a:hover{
    color:red;
}
main{
    text-align:left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align:center;
    font-family: cursive, lucida handwriting;
}
img{
    width: 100%;
}
figure{
    text-align: center;
    font-style: italic;
}