body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #2b6777;
    color: rgb(30, 22, 113);
    text-align: center;
    padding: 1em 0;
  }
  
  nav ul.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    background-color: #2b6777;
  }
  
  nav ul.navbar li a {
    color: rgb(74, 181, 90);
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 2em;
  }
  
  article {
    margin-bottom: 1.5em;
  }
  

  #accordion {
    width: 80%;
    margin: 2em auto;
  }
  

  #ajax-section {
    margin-top: 2em;
  }
  
  button {
    padding: 0.5em 1em;
    background-color: #2b6777;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #406882;
  }
  
  textarea {
    width: 100%;
    font-family: monospace;
  }
  
  .code-block {
    background-color: rgb(175, 175, 231);         
    border: 1px solid black;         
    border-radius: 4px;
    padding: 1em;
    font-family: monospace;
    white-space: pre-wrap;          
    margin-bottom: 1em;            
  }
  code {
    color: black;
    font-family: monospace;
  }
  nav ul li a:hover {
    background-color: red;
  }
