<nav class="websites">
    <a href ="https://webpages.charlotte.edu/cpatel48/" target="_blank">Charlotte</a>
    <a href ="https://github.com/camronpatel/camronpatel.github.io" target="_blank">Github</a>
    <a href ="https://github.com/camronpatel.github.io/itis3135" target="_blank">Github.io</a>
    <a href ="https://www.freecodecamp.org/camronpatel" target="_blank">freeCodeCamp</a>
    <a href ="https://www.codecademy.com/profiles/camronpatel" target="_blank">Codecademy</a>
    <a href ="https://www.linkedin.com/in/camron-patel-2203061ba/" target="_blank">LinkedIn</a>
</nav>
<p>Created by <a href="camroncreativeconsulting.com/">Camron Creative Consulting </a>&copy;2025</p>