<h1>Camron Patel | Charming Panda | ITIS 3135</h1>
<nav>

    <a href="./">Home </a>
    |
    <a href="introduction.html">Introduction</a>
    |
    <a href="contract.html">Contract</a>
    |
    <a href="tables.html">Tables</a>
    |
    <a href="./charmingpandazengardens/index.html">CharmingPanda ZenGardens</a>
    |
    <a href="./jshub/project_overview.html">Client Project Overview</a>

</nav>
<nav>
    <a href="./stuff/bAd windexE&b.htm">CrApY WeSit3</a>
    |
    <a href="hobby/index.html">Hobby</a>
    | 
    <a href="./jshub/index.html">Client Project</a>
</nav>
